### project specific

### IDE specific ignores
nbproject/*
# intellij
.idea/*
out/*
*.iml
/atlassian-ide-plugin.xml
# eclipse
.settings/
.classpath
.project
/bin/

### building stuff
build/*
/lib/dev/checkstyle/cfg/checkstyle.properties
/lib/dev/pmd/cfg/pmd_tsphp.xml
/lib/dev/QA.html

### antlr 
antlr/output/*
/src/**/antlr/*